################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CodeBehind/.vs
/CodeBehind/CodeBehind.PadraoProjeto.Api.Mediator/obj
/CodeBehind/CodeBehind.PadraoProjeto.Api.Mediator/bin/Debug/netcoreapp3.1
/CodeBehind/CodeBehind.PadraoProjeto.Application/obj
/CodeBehind/CodeBehind.PadraoProjeto.Application/bin/Debug/netcoreapp3.1
/CodeBehind/CodeBehind.PadraoProjeto.Dto/obj
/CodeBehind/CodeBehind.PadraoProjeto.Dto/bin/Debug/netcoreapp3.1
/CodeBehind/CodeBehind.PadraoProjeto.Repository/obj
/CodeBehind/CodeBehind.PadraoProjeto.Repository/bin/Debug/netcoreapp3.1
/CodeBehind/CodeBehind.PadraoProjeto.BFF/bin/Debug/netcoreapp3.1
/CodeBehind/CodeBehind.PadraoProjeto.BFF/obj
/CodeBehind/CodeBehind.PadraoProjeto.BFF.MSCliente/bin/Debug/netcoreapp3.1
/CodeBehind/CodeBehind.PadraoProjeto.BFF.MSCliente/obj
/CodeBehind/CodeBehind.PadraoProjeto.BFF.MSPedido/bin/Debug/netcoreapp3.1
/CodeBehind/CodeBehind.PadraoProjeto.BFF.MSPedido/obj
/CodeBehind/CodeBehind.PadraoProjeto.UnidadeTrabalho/bin/Debug/net6.0
/CodeBehind/CodeBehind.PadraoProjeto.UnidadeTrabalho/obj
/CodeBehind/CodeBehind.PadraoProjeto.UnidadeTrabalho.Repositorio/bin/Debug/net6.0
/CodeBehind/CodeBehind.PadraoProjeto.UnidadeTrabalho.Repositorio/obj
/CodeBehind/CodeBehind.PadraoProjeto.GRPC/bin/Debug/net6.0
/CodeBehind/CodeBehind.PadraoProjeto.GRPC/obj
/CodeBehind/CodeBehind.PadraoProjeto.GRPC.Cliente/bin/Debug/net6.0
/CodeBehind/CodeBehind.PadraoProjeto.GRPC.Cliente/obj
/CodeBehind/CodeBehind.PadraoProjeto.Maquina/bin/Debug/net6.0
/CodeBehind/CodeBehind.PadraoProjeto.Maquina/obj
/CodeBehind/CodeBehind.PadraoProjeto.MaquinaSaga/bin/Debug/net6.0
/CodeBehind/CodeBehind.PadraoProjeto.MaquinaSaga/obj
/CodeBehind/CodeBehind.PadraoProjeto.SegurancaJWT/bin/Debug/net6.0
/CodeBehind/CodeBehind.PadraoProjeto.SegurancaJWT/obj
/CodeBehind/CodeBehind.PadraoProjeto.CQRSPattern/bin/Debug/net7.0
/CodeBehind/CodeBehind.PadraoProjeto.CQRSPattern/obj
/CodeBehind/CodeBehind.PadraoProjeto.Api.Mediator/bin/Debug/net6.0
/CodeBehind/CodeBehind.PadraoProjeto.ApiGateway/bin/Debug/net8.0
/CodeBehind/CodeBehind.PadraoProjeto.ApiGateway/obj
/CodeBehind/CodeBehind.PadraoProjeto.ApiGateway.ApiA/bin/Debug/net8.0
/CodeBehind/CodeBehind.PadraoProjeto.ApiGateway.ApiA/obj
/CodeBehind/CodeBehind.PadraoProjeto.Application/bin/Debug/net6.0
/CodeBehind/CodeBehind.PadraoProjeto.Dto/bin/Debug/net6.0
/CodeBehind/CodeBehind.PadraoProjeto.Repository/bin/Debug/net6.0
/CodeBehind/CodeBehind.PadraoProjeto.Teste/bin/Debug/net6.0
/CodeBehind/CodeBehind.PadraoProjeto.Teste/obj
/CodeBehind/CodeBehind.PadraoProjeto.MicroServicoProduto/bin/Debug/net8.0
/CodeBehind/CodeBehind.PadraoProjeto.MicroServicoProduto/obj
/CodeBehind/CodeBehind.PadraoProjeto.MicroServicoProduto.Application/bin/Debug/net8.0
/CodeBehind/CodeBehind.PadraoProjeto.MicroServicoProduto.Application/obj
/CodeBehind/CodeBehind.PadraoProjeto.MicroServicoProduto.Domain/bin/Debug/net8.0
/CodeBehind/CodeBehind.PadraoProjeto.MicroServicoProduto.Domain/obj
/CodeBehind/CodeBehind.PadraoProjeto.MicroServicoProduto.Infrastructure/bin/Debug/net8.0
/CodeBehind/CodeBehind.PadraoProjeto.MicroServicoProduto.Infrastructure/obj
/CodeBehind/CodeBehind.PadraoProjeto.MicroServicoProduto.Test/bin/Debug/net8.0
/CodeBehind/CodeBehind.PadraoProjeto.MicroServicoProduto.Test/obj
